.heading {
    padding: 12px;
    text-align: left;
    font-weight: 400;
    line-height: 18px;
    font-size: var(--main-font-size);
    color: var(--secondary-font-color);
  }
  
  .level {
    min-width: 110px;
  }
  
  .works {
    width: 757px;
  }
  
  .parametr {
    width: 200px;
  }